se/toolconfig/http/www.slickedit.com/dtd/vse/vsrefactor/9.0/vsrefactor.dtd

<?xml encoding='UTF-8'?>
<!ELEMENT VSRefactor (Configuration*)>
<!ELEMENT Configuration (Includes)>
   <!ATTLIST Configuration Name CDATA #REQUIRED>
   <!ATTLIST Configuration Filename CDATA #REQUIRED>
<!ELEMENT Includes (Include*)>
<!ELEMENT Include EMPTY>
   <!ATTLIST Include Dir CDATA #REQUIRED>
