se/toolconfig/http/www.slickedit.com/dtd/vse/10.0/vsdebugger.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT Debugger (Package)*>
<!ELEMENT Package (Configuration)*>
  <!ATTLIST Package Name CDATA #REQUIRED>
<!ELEMENT Configuration EMPTY>
  <!ATTLIST Configuration Name CDATA #REQUIRED>
  <!ATTLIST Configuration Path CDATA #REQUIRED>
  <!ATTLIST Configuration Platform CDATA #IMPLIED>
  <!ATTLIST Configuration Arguments CDATA #IMPLIED>
  <!ATTLIST Configuration Default (1|0) #IMPLIED>
  <!ATTLIST Configuration Standard (1|0) #IMPLIED>
